
@{
    Layout = null;
}

<div ng-controller="DataViewController" ng-init="init('linkedlist_account_view1')">
    <div class="row">
        <div class="col-xs-3" ng-repeat="filter in viewDefinition.filters">
            <div filter-control data-filter-selection-mode="filter.selectionMode" data-filter-id="filter.column.columnNavigation" data-filter-display-name="filter.column.displayNavigation" data-filter-values="filter.filterValues">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="refreshData()">Refresh Data</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div object-properties-table-control data-view-id="viewId"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div js-tree-control data-path="viewDefinition.queryBuilder.selectedPath"></div>
        </div>
    </div>
    @*<div tree-control data-tree-data-received="'treeDataReceived'" data-key-property="'_id'" data-display-property="'name'"></div>*@
</div>