
@{
    Layout = null;
}

<div ng-controller="ScratchController" ng-init="init('linkedlist_account_view1')">
    <div class="row" ng-repeat="map in linkedListMaps">
        <div js-tree-control data-map="map.navigationMaps" data-id="map.slicerColumnName"></div>
    </div>
</div>